.selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    flex: 0 1 14rem;
}

.arrow {
    cursor: pointer;
    flex: 0 1 1.5rem;
    font-size: larger;
    font-weight: bolder;
}
