table {
    table-layout: fixed ;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    overflow: hidden;
    border: 2px solid #dddddd;
    height: 3rem;
}

/* tr:nth-child(even) {
    background-color: rgb(42, 40, 59);
} */


