body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
